@import "tailwindcss";

@theme {
    --color-foreground: #262626e6;
    --color-background: #000;
    --color-border: #ffffff24;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: #fff;
    }
}